/* color palette from <https://github.com/vuejs/theme> */
:root {
  --color-display-background: black;
  --color-display-text: white;

  --color-background: #f4f4f4;
  --color-text: #949494;
}

body,html {
  height: 100%;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  line-height: 1.6;
  font-family: Roboto, sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Disable scrolling */
body {position: fixed; left: 0; top: 0; right: 0; bottom: 0;}
